<div class="row">
  <div class="small-12 medium-8 large-6 small-centered columns">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :org_name, "Organization name" %>
        <%= f.text_field :org_name, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :description, "Organization description" %>
        <%= f.text_area :description, autocomplete: "off", placeholder: "What do people get to do when you're open?" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button" %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>